.colalignment{
    display:flex;
    flex-direction:column;
    justify-content:center;

}
.left{
    height:40px;
    width:50px;
}
.right{
    height:40px;
    width:50px;
}
.seventhpage{
    margin-top:20vh;
}
.card{
    background-color:rgb(213, 186, 213);
    margin-left:3vw;
    height:70vh;
}
.deliveryblog{
    margin-left:5vh;
    width:30vw;
}
.image{
    height:40vh;
    width:30vw;
}